.vscode/
.hydra/
*/__pycache__
tacto/*.pyc
tacto.egg-info/
*/.hydra
*.a
*.so
*.o
*.swp
*.pyc
*.pkl
*.pickle
*.p
.idea
experiments/dataset/
experiments/allsight_sim_dataset/
experiments/conf/saved_configs
experiments/models/train_allsight_regressor/train_history
experiments/models/reggressor/
experiments/models/GAN