<?xml version="1.0" ?>
<robot name="cube.urdf">
  <link name="baseLink">
    <contact>
    	<friction_anchor/>
    	   <lateral_friction value="0.5"/>
        <rolling_friction value="0.005"/>
        <spinning_friction value="0.005"/>
    </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value="0.2"/>
       <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
				<mesh filename="hexagon.obj" scale="1 1 1"/>
      </geometry>
       <material name="white">
        <color rgba="0.1 0.6 1 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0 "/>
      <geometry>
	 	<mesh filename="hexagon.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
</robot>

