<?xml version="1.0" ?>
<robot name="urdf_robot">
  <link name="base_link">
        <contact>
            <lateral_friction value="1.0"/>
            <rolling_friction value="0.0"/>
            <inertia_scaling value="3.0"/>
            <contact_cfm value="0.0"/>
            <contact_erp value="1.0"/>
        </contact>
        <inertial>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <mass value="0.1"/>
            <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
        </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="textured_sphere_smooth.obj" scale="0.04 0.04 0.04"/>
        <!-- <mesh filename="textured_sphere_smooth.obj" scale="0.04 0.04 1"/>       -->
      </geometry>
      <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
	 <sphere radius="0.04"/>
      </geometry>
    </collision>
  </link>
</robot>